@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600;800;900&display=swap');
body
{
  display: flex;
  flex-direction: column;
  font-family:'Poppins', sans-serif ;
}
header
{
  position: sticky;
  top: 0;
}
h1
{
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #111;
  padding: 20px;
}
#nivel-dificuldade  
{
  display: flex;
  justify-content: center;
  background-color: #111;
 
}
  #nivel-dificuldade li 
  {
    margin-top: px;
    padding: 20px 40px;
    font-size: 1.5rem;
    color: #fff;
    border-top: solid 1px rgb(138, 135, 135);
    border-radius: 50px;
    cursor: pointer;
  }
  #nivel-dificuldade li:hover
  {
    background-color: red;
  }

#container
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 3, 3);
  height: 100vh;
}

section
{
  height: 50%;
 
}
#tower1
{
  display: flex;
  flex-direction: column-reverse; 
  align-items: center;
  margin-left: 50px;
  position: relative;

  background-color: #111;
  border-top-left-radius: 50px;
  
  
  width: 50px;
}

#tower2, #tower3
{
  display: flex;
  flex-direction: column-reverse; 
  align-items: center;

  background-color: #111;
  margin-left: 25vw;
  width: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px ;
}
#tower3 {border-top-right-radius: 150px;}
  #tower1:hover, #tower2:hover, #tower3:hover{
    background-color: black;
    cursor: pointer;
  }

#disk1, #disk2, #disk3, #disk4, #disk5, #disk6, #disk7
{
 
  background-color: #fff;
  border: 1px solid #111;
  height: 50px;
}
  #disk1:hover, #disk2:hover, #disk3:hover, #disk4:hover, #disk5:hover, #disk6:hover, #disk7:hover
  {
    background-color: rgb(218, 134, 26);
  }
#disk1
{
  width: 10vw;
  text-align: center;
  line-height: 50px;
  font-weight: 700;
}
#disk2
{
  width: 13vw;
  text-align: center;
  line-height: 50px;
  font-weight: 700;
}
#disk3
{
  width: 17vw;
  text-align: center;
  line-height: 50px;
  font-weight: 700;
}
#disk4
{
  width: 22vw;
  text-align: center;
  line-height: 50px;
  font-weight: 700;
}
#disk5
{
  width: 27vw;
  text-align: center;
  line-height: 50px;
  font-weight: 700;
}
#disk6
{
  width: 30vw;
  text-align: center;
  line-height: 50px;
  font-weight: 700;
}
#disk7
{
  width: 32vw;
  text-align: center;
  line-height: 50px;
  font-weight: 700;
}

#counterMov
{
  background-color: #111; 
  color: #fff;
  text-align: center;
  font-size: 2rem;
  padding: 20px;
  border-top: #fff solid 1px;
}

.popUpVictory
{
  font-size: 3rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  color: #fff;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 70vw;
  background-color: rgb(144, 125, 17);
  border-radius: 50px;
  border: solid 3px white;
  transition: 10s;
}
button
{
  position: fixed;
  height: 30px;
  width: 50px;
  top: 0;
  background-color: rgb(12, 95, 1);
  cursor: pointer;
  color: #fff;
}

.hidden
{
  display: none;
}